
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #040404;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    width: 1080px;
    margin: auto;
    align-content: center;
    height: fit-content;
    padding: 2rem;
    align-items: center;
}

.tittle {
    text-align: center;
    margin: 2rem;
}

h1 {
    color: #ccff02;
    margin: 0;
    font-size: 50px;
    font-weight: 900;
}

.content {
    display: flex;
    height: fit-content;
    align-items: center;
    width: 100%;
    padding-left: 10rem;
}

.image {
    width: 40%;
}

img {
    width: 300px;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 0;
}

h2 {
    margin: 0;
}

ul li {
    color: #ffffff;
    list-style-type: none;
}