body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.container {
    background-color: #040404;
    width: 600px;
    margin: auto;
    align-content: center;
    height: fit-content;
}

h1 {
    color: #ccff02;
}

.image {

}